.spinner-refresh {
  text-align: center;
  position: relative;
  height: 40px;
}
.spinner-refresh__animation {
  position: absolute;
  bottom: 30px;
  width: 100%;
}
.spinner-refresh__text {
  position: absolute;
  bottom: 10px;
  width: 100%;
  font-size: 12px;
}
.spinner-refresh__loader,
.spinner-refresh__loader:before,
.spinner-refresh__loader:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.spinner-refresh__loader {
  color: #fc5359;
  font-size: 10px;
  margin: 0 auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.spinner-refresh__loader:before,
.spinner-refresh__loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.spinner-refresh__loader:before {
  left: -2em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner-refresh__loader:after {
  left: 2em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 1.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 1.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 1.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 1.5em 0 0;
  }
}
